<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<link rel="stylesheet" href="style.css">

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <link rel="scripttylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <style type="text/css">
    body {
      font-family: "Roboto";
    }
    .nav-wrapper {
      background-color: #01579b;
    }
    .brand-logo {
      margin-left: 10px;
      font-family: "Roboto";
      font-weight: 300;
    }
    .home {
      text-align: center;
    }
  </style>
</head>
<body>
<br><br>
  <b><font face="Arial" size="40"><p align=center>Course Recommendation System - IIITD</p></font></b>

  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Recommended Courses</a></li>
      <li><a data-toggle="tab" href="#menu1">Evaluation</a></li>
 
    </ul>

    <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Recommended Courses</h3>
      <p>

            <TABLE class="table table-striped table-bordered highlight" BORDER=1>
        <TR>
        <TD>Rank</TD>
        <TD>Subject</TD>
        <TD>Predicted Grade </TD>
        <TD>Actual Grade</TD>
        <TD>Remarks</TD>
      
        </TR>
        <%
        c=0
        for (var i=0;i<requests.length;i++)
        {
          %>
          <TR>
          <%if (requests[i].truegrade==0){
          c=c+1
          %>
          <TD><%=c%></TD>
          <TD><%=requests[i].subj%></TD>
          <TD><%=requests[i].predgrade%></TD>
          <TD>NA</TD>
          <TD>New course recommneded</TD>
          <%}
          %>
      </TR>
            <%
        }
        %>
      </TABLE>
    

      </p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Evaluation</h3>
      <p>

      <TABLE class="table table-striped table-bordered highlight" BORDER=1>
        <TR>
        <TD>Rank</TD>
        <TD>Subject</TD>
        <TD>Predicted Grade </TD>
        <TD>Actual Grade</TD>
        <TD>Remarks</TD>
      
        </TR>
        <%
        c=0
        for (var i=0;i<requests.length;i++)
        {
          %>
          <TR>
          <%if (requests[i].truegrade!=0){
          c=c+1
          %>
          <TD><%=c%></TD>
          <TD><%=requests[i].subj%></TD>
          <TD><%=requests[i].predgrade%></TD>          
          <TD><%=requests[i].truegrade%></TD>         
          <TD>Error= <%=requests[i].err%></TD>
          <%}
          %>
      </TR>
            <%
        }
        %>
      </TABLE>
      

      </p>
    </div>
    
    </div>




  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

<script type="text/javascript">
   $(".button-collapse").sideNav();
</script>